.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.other-projects-title {
  font-weight: bold;
  font-size: large;
  margin-top: 5vh;
}

.other-projects-container {
  margin-top: 0;
}

.header-content {
  font-family: "Playfair Display", serif;
}
