.App {
  text-align: center;
}

.header-content,
.about-me-title,
.projects-title,
.other-projects-title,
.contact-me,
.form-label,
h2 {
  font-family: "Playfair Display", serif;
}

.projects-title,
.other-projects-title,
h2 {
  color: #eff1f3;
}

.about-me-txt,
.project-description,
.email {
  font-family: "Spectral", serif;
  font-size: large;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.other-projects-title {
  font-weight: bold;
  font-size: large;
  margin-top: 5vh;
}

.other-projects-container {
  margin-top: 0;
}

.contact-me {
  font-weight: bold;
}
