.contact-me-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 38, 38);
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #fefae0;
}

.message {
  height: 25vh;
}

.submit-button {
  background-color: rgb(57, 85, 176);
  color: white;
}
