.home-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 38, 38);
}

.social-a {
  height: 5vh;
  width: 10vw;
}

#linkedin {
  height: 5vh;
  width: 15vw;
}

.about-me {
  border: 1px solid black;
  width: 65vw;
  margin-left: 2.5vw;
  margin-top: 2.5vh;
  /* background-color: #fefae0; */
  background-color: rgb(221, 217, 217);
}

.img-links {
  display: flex;
}

.me-img {
  margin: 0;
  border-radius: 50%;
  height: 15vw;
  margin-left: 1.5vw;
  margin-top: 1.5vh;
}

.project-screen {
  height: 50vh;
  width: 35vw;
  border: 1px solid black;
  margin: 2.5vw;
  transition: transform 0.25s;
}

.project-screen:hover {
  transform: scale(1.25);
}

.projects-screens {
  margin: 2.5vw;
}

.projects-title {
  margin-bottom: 0;
  margin-top: 10vh;
}

.projects-section {
}

#resume-link {
  text-decoration: none;
}

.resume-button-text {
  font-size: smaller;
}

.resume-button {
  height: 8vh;
  width: auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .projects-screens {
    display: grid;
    flex-direction: column;
  }

  .project-screen {
    width: 80vw;
  }
}

@media screen and (max-width: 375px) {
  .img-links {
    display: flex;
    flex-direction: column;
  }

  .me-img {
    display: none;
  }

  .about-me {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .project-screen {
    height: 25vh;
  }

  #linkedin {
    height: 5vh;
    width: 20vw;
  }
}
