.header {
  display: flex;
  justify-content: center;
  background-color: #3f3f3f;
  height: 10vh;
  width: 100vw;
}

.header-content {
  margin-right: 2vw;
  margin-left: 2vw;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: large;
}

.header-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#home-link,
#contact-link {
  text-decoration: none;
  color: black;
}
