.header {
  display: flex;
  justify-content: center;
  background-color: #bfedc1;
  height: 10vh;
  width: 100vw;
}

.header-content {
  margin-right: 2.5vw;
}

.header-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}

#home-link {
  text-decoration: none;
  color: black;
}
